.preview {

    &__container {
    }

    &__swiper {

        .swiper-wrapper{
            @include tablet{
                margin-bottom: #{fluid(24px, 32px, 375px, 1024px)};
            }
        }

        .swiper-slide{
            overflow: hidden;
            display: flex;
            border-radius: 80px;
            height: unset;
            min-height: #{fluid(443px, 745px, 375px, 1024px)};
            cursor: pointer;
            @media (min-width: 1024.98px) {
                width: 25%;
                flex: unset;
                transition: all 0.5s ease 0s;
                &:not(:first-child){
                    margin-left: -150px;
                }
                &:last-child{
                    width: 15%;
                }
                &.active{
                    width: 80%;
                    .preview__content{
                       opacity: 1;
                       visibility: visible;
                    }
                }
            }
            @include tablet{
                border-radius: 40px;
                width: 100%;
                &.active{
                    width: 100%;
                }
            }
        }

    }

    &__pagination{
        display: none;
        .swiper-pagination-bullet{
            background: var(--text-gray-light);
            width: 16px;
            height: 16px;
            margin: 0 !important;
        }
        .swiper-pagination-bullet-active{
            background: var(--text-orange);
        }
        @include tablet{
            display: flex;
        }
    }

    &__content {
        max-width: 564px;
        padding: #{fluid(24px, 64px, 375px, 1024px)} 0 0 #{fluid(24px, 64px, 375px, 1024px)};
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s ease 0s;
        @include tablet{
            opacity: 1;
            visibility: visible;
        }
    }

    &__character {
        display: flex;
        align-items:center;
        padding-bottom: #{fluid(32px, 112px, 375px, 1024px)};
        position: relative;
    }

    &__icon {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &__name {
        position: relative;
        font-weight: 600;
        font-size: 18px;
        border: 2px solid var(--text-blue);
        border-radius: 30px;
        padding: 6px 16px;
        padding-left: 70px;
    }

    &__title {
        font-size: #{fluid(32px, 72px, 375px, 1024px)};
        line-height: 1;
        margin-bottom: 32px;
    }

    &__text {
        margin-bottom: 32px;
        max-width: 470px;
    }

    &__button {
        min-height: 64px;
        width: 251px;
        gap: 8px;
        svg{
            fill: var(--bg-primary);
        }
    }

    &__image {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &::after{
            content:'';
            position: absolute;
            width: 100%;
            height: 100%;
            inset: 0;
            background: var(--bg-cards-20);
        }
    }
}

