<button class="btn btn-secondary btn-reset">
    <span class="btn-secondary__text">Рассчитать стоимость</span>
    <span class="btn-secondary__svg">
        <svg width="24" height="24">
            <use xlink:href="./img/sprite.svg#arrow-right"></use>
        </svg>
    </span>
</button>

<button class="btn btn-primary btn-reset">
    Рассчитать стоимость
    <svg width="24" height="24">
        <use xlink:href="./img/sprite.svg#arrow-right"></use>
    </svg>
</button>

<div class="custom-play">
    <a href="#"></a>
    <div class="custom-play__main">
        <svg width="24" height="24">
            <use xlink:href="./img/sprite.svg#play"></use>
        </svg>
    </div>
</div>
