<!-- ИНПУТЫ -->
<label class="form-modal__input input">
    <input type="text" name="name" placeholder="Имя*" required autocomplete="off">
</label>
<label class="form-modal__input input">
    <input class="is-phone" type="tel" name="phone" placeholder="Телефон*" required autocomplete="off">
</label>

<!-- CHECKBOX -->
<label class="form-modal__input checkbox">
    <input type="checkbox" name="socials" value="whatsApp" required autocomplete="off">
    <span class="checkbox__custom"></span>
    <span class="checkbox__text">
        WhatsApp
    </span>
</label>
