<footer class="footer">
    <div class="footer__container container">
       <div class="footer__wrapper">
           <div class="footer__inner section-small">

                <div class="footer__body">
    
                    <div class="footer__action">
                        <a href="#" class="footer__logo footer__image">
                            <img src="img/svg/logo-small.svg" alt="img" width="42" heigth="42" loading="lazy">
                        </a>
                        <a href="#" class="footer__image">
                            <svg width="32" height="32">
                                <use xlink:href="./img/sprite.svg#award"></use>
                            </svg>
                        </a>
                        <a href="#" class="footer__image">
                            <svg width="32" height="32">
                                <use xlink:href="./img/sprite.svg#lock"></use>
                            </svg>
                        </a>
                        <a href="#" class="footer__image">
                            <img src="img/svg/ua.svg" alt="img" width="32" heigth="32" loading="lazy">
                        </a>
    
                    </div>
                   <div class="footer__columns">
                        <div class="footer__column">
                            <h4 class="footer__caption title-28">Компанія</h4>
                            <ul class="footer__list list-reset">
                                <li class="footer__item">
                                    <a href="#" class="footer__link">Послуги</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="footer__link">Про Нас</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="footer__link">Робота</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="footer__link">Блог</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="footer__link">FAQ</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer__column">
                            <h4 class="footer__caption title-28">Правові</h4>
                            <ul class="footer__list list-reset">
                                <li class="footer__item">
                                    <a href="#" class="footer__link">Політика Конфіденційності</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="footer__link">Умови Використання</a>
                                </li>
        
                            </ul>
                        </div>
                        <div class="footer__column">
                            <h4 class="footer__caption title-28">Контакти</h4>
                            <ul class="footer__list list-reset">
                                <li class="footer__item">
                                    <a href="#" class="footer__link">Зв’язок з нами</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="footer__link">Telegram</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="footer__link">Instagram</a>
                                </li>
                            </ul>
                        </div>
                   </div>
    
                </div>
                <div class="footer__payment">
                    <div class="footer__pay">
                        <img src="img/visa.svg" alt="img" width="38" heigth="24" loading="lazy">
                    </div>
                    <div class="footer__pay">
                        <img src="img/masterCard.svg" alt="img" width="38" heigth="24" loading="lazy">
                    </div>
                    <div class="footer__pay">
                        <img src="img/applePay.svg" alt="img" width="38" heigth="24" loading="lazy">
                    </div>
                    <div class="footer__pay">
                        <img src="img/googlePay.svg" alt="img" width="38" heigth="24" loading="lazy">
                    </div>
                </div>
                <div class="footer__term">
                    <p>Dota 2 є зареєстрованою торговою маркою компанії Valve Corporation. Ми не пов'язані з компанією Valve Corporation, не асоційовані з нею і не підтримуємо її. GameBoost не відображає погляди чи думки Valve Corporation.</p>
                    <p>Всі права захищені ©GAMEBOOST 2023</p>
                </div>
    
           </div>
       </div>
    </div>
</footer>
