<header class="header" data-click-section>
    <div class="header__container container">

       <div class="header__body">
           <div class="header__top">
                <a href="#" class="header__logo br20">
                    <img src="img/svg/logo.svg" alt="img" width="100" heigth="37" loading="lazy">
                </a>
                <button type="button" class="header__action header__action-mobile header__action-hide btn-reset br20">
                    <svg width="20" height="20">
                        <use xlink:href="./img/sprite.svg#headphone"></use>
                    </svg>
                </button>
                <button type="button" class="header__burger header__action burger btn-reset br20" aria-label="Открыть меню" data-click-btn data-click-option="toggle" data-click-body="no-scrolling" data-resize-target=".header" data-resize-width="768"><span></span></button>
           </div>
    
            <div class="header__wrapper">

               <div class="header__inner">
                    <nav class="header__menu">
                        <ul class="header__list list-reset">
                            <li class="header__item header__item-desktop"><a href="#" class="header__link">DotaBoost</a></li>
                            <li class="header__item header__item-desktop"><a href="#" class="header__link">Послуги</a></li>
                            <li class="header__item"><a href="#" class="header__link">
                                <svg width="32" height="32">
                                    <use xlink:href="./img/sprite.svg#about"></use>
                                </svg>Про нас</a></li>
                            <li class="header__item"><a href="#" class="header__link">
                                <svg width="32" height="32">
                                    <use xlink:href="./img/sprite.svg#work"></use>
                                </svg>Работа</a></li>
                            <li class="header__item"><a href="#" class="header__link">
                                <svg width="32" height="32">
                                    <use xlink:href="./img/sprite.svg#news"></use>
                                </svg>Блог</a></li>
                            <li class="header__item"><a href="#" class="header__link">
                                <svg width="32" height="32">
                                    <use xlink:href="./img/sprite.svg#faq"></use>
                                </svg>FAQ</a></li>
                        </ul>
                    </nav>
                    <ul class="header__services list-reset br20">
                        <li class="header__item"><a href="#" class="header__link">Буст ММР</a></li>
                        <li class="header__item"><a href="#" class="header__link">Калібровка</a></li>
                        <li class="header__item"><a href="#" class="header__link">Буст Порядності</a></li>
                        <li class="header__item"><a href="#" class="header__link">Низький Пріорітет</a></li>
                        <li class="header__item"><a href="#" class="header__link">Моніторинг Замовлень</a></li>
                    </ul>
                    <button type="button" class="header__action header__contact btn-reset br20">
                        <svg width="20" height="20">
                            <use xlink:href="./img/sprite.svg#headphone"></use>
                        </svg>
                        Зв’язок з нами
                    </button>
                    <div class="header__block">
                        <a href="#" class="header__account">
                            <div class="header__avatar">
                                <img src="img/svg/avatar.svg" alt="img" width="66" heigth="66" loading="lazy">
                            </div>
                            <div class="header__nickname">Marakesh</div>
                        </a>
                        <div class="header__actions">
                            <button type="button" class="header__action btn-reset br20">
                                <svg width="20" height="20">
                                    <use xlink:href="./img/sprite.svg#notification"></use>
                                </svg>
                            </button>
                            <button type="button" class="header__action header__action-mobile btn-reset br20">
                                <svg width="20" height="20">
                                    <use xlink:href="./img/sprite.svg#settings"></use>
                                </svg>
                            </button>
                            <button type="button" class="header__action header__action-mobile btn-reset br20">
                                <svg width="20" height="20">
                                    <use xlink:href="./img/sprite.svg#logout"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
               </div>
            </div>
       </div>

    </div>
</header>
