<div class="swiper-slide">
    <div class="reviews__item">
        <div class="reviews__header">
            <h4 class="reviews__subtitle title-28">Буст MMR</h4>
            <div class="reviews__rating">
                <svg width="24" height="24">
                    <use xlink:href="./img/sprite.svg#star"></use>
                </svg>
                <svg width="24" height="24">
                    <use xlink:href="./img/sprite.svg#star"></use>
                </svg>
                <svg width="24" height="24">
                    <use xlink:href="./img/sprite.svg#star"></use>
                </svg>
                <svg width="24" height="24">
                    <use xlink:href="./img/sprite.svg#star"></use>
                </svg>
                <svg width="24" height="24">
                    <use xlink:href="./img/sprite.svg#star"></use>
                </svg>
            </div>
        </div>
        <div class="reviews__text">
            Дуже задоволена послугою прокачки MMR у DotaBoost! Завдяки їхньому професіоналізму та ефективності, мій рейтинг значно зрос і я досягла нових висот у грі Dota 2. Рекомендую цей сервіс!
        </div>
        <div class="reviews__meta">
            <div class="reviews__id">№3213211123</div>
            <time datetime="2023-04-26" class="reviews__date">26.04.2023</time>
        </div>
    </div>
</div>