/* stylelint-disable */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;

    &.disabled,
    &:disabled {
        opacity: 0.5;
        pointer-events: none;
        user-select: none;
    }
}

.btn-black{
    background-color: var(--bg-primary);
    color: var(--text-primary);
    svg{
        fill{
            color: var(--text-primary);
        }
    }
}

.btn-orange{
    background-color: var(--text-orange);
    color: var(--bg-primary);
    svg{
        fill{
            color: var(--bg-primary);
        }
    }
}




.arrow{
    fill: none;
    use{
        stroke: var(--bg-primary);
        stroke-width: 2px;
    }
}

.input,
.textarea {
    width: 100%;

    input,
    textarea {
        border: 1px solid transparent;
        border-radius: 20px;
        padding: #{fluid(16px, 20px, 375px, 1600px)};
        width: 100%;
        font-weight: 600;
        font-variant-numeric: lining-nums;
        font-size: 18px;
        line-height: 1;
        letter-spacing: -0.01em;
        background-color: var(--bg-primary);
        transition: border var(--trans);
        color: var(--text-primary);

        &::placeholder {
            color: var(--text-gray-light);
            opacity: 1;
        }

        &:hover {
            border-color: var(--text-gray);
        }

        &:focus {
            outline: none;
            border-color: var(--text-gray-light);
        }
    }

    textarea {
        resize: none;
    }

    .is-error input,
    .is-error textarea {
        border-color: var(--text-accent);
    }
}

.input-white{
    input, textarea{
        color: var(--text-secondary);
        background-color: var(--light-red);

        &:hover, &:focus{
            border-color: var(--text-secondary);
        }

        &::placeholder{
            color: var(--input-white);
        }
    }
}

.checkbox {
    display: flex;
    align-items: center;
    gap: #{fluid(8px, 13px, 1920px, 2560px)};
    background-color: var(--bg-cards);
    padding: 16px;
    border-radius: 20px;

    &:has(input:checked){
        border-color: var(--text-orange);
    }

    @include mobile {
        gap: 6px;
    }

    input {
        position: absolute;
        opacity: 0;
    }

    &__custom {
        position: relative;
        flex: 0 0 #{fluid(24px, 32px, 375px, 1600px)};
        background-color: var(--bg-primary);
        border-radius: 8px;
        width: #{fluid(24px, 32px, 375px, 1600px)};
        height: #{fluid(24px, 32px, 375px, 1600px)};
        transition:
            background var(--trans),
            border var(--trans);

        @include tablet {
            border-width: 1px;
            border-radius: 5px;
        }

        @include small-tablet {
            flex: 0 0 20px;
            border-radius: 5px;
            width: 20px;
            height: 20px;
        }

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            width: 80%;
            height: 80%;
            background-image: url('../img/check.svg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            opacity: 0;
            transform: translate(-50%, -50%);
            transition: opacity var(--trans);
        }
    }

    &__text {
        font-weight: 600;
        line-height: 1;
        font-size: 18px;
        color: var(--text-primary);
        font-family: var(--third-family);
        transition: color var(--trans);

    }

    input:checked ~ &__custom {

        background-color: var(--text-gray);

        &::after {
            opacity: 1;
        }
    }

    input:checked ~ &__text {
        color: var(--text-orange);
    }

    input:checked ~ .calculator__percent{
        color: var(--text-orange);
        border-color: var(--text-orange);
    }
}

.quantity-controls {
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 8px 12px;
    gap: 8px;
    background-color: var(--bg-primary);


    button{
        display: flex;
        align-items: center;
        justify-content:center;
        width: #{fluid(42px, 60px, 375px, 1600px)};
        height: #{fluid(42px, 60px, 375px, 1600px)};
        font-size: #{fluid(30px, 40px, 375px, 1600px)};
        line-height: 1;
        color: var(--text-primary);
        background-color: var(--text-gray); 
        transition: all 0.3s ease 0s;
        &:hover{
            background-color: var(--text-gray-light);
        }

    }
}

.decrement {
    position: relative;
}

.increment {
    position: relative;
}

.quantity-display {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 4px;
}

.quantity {

    &__text {
        font-size: 12px;
        font-weight: 500;
        color: var(--text-gray-light);
    }

    &__number {
        font-size: #{fluid(18px, 24px, 375px, 1600px)};
        font-weight: 700;
        line-height: 1;
        font-family: var(--third-family);
    }
}



